.slick-slide {
  margin: 0px 10px;
}
.owl-theme {
  position: relative;
}
.owl-carousel {
  margin: 0 !important;
}
.owl-item {
  margin: 0 2px;
}
.owl-dots {
  position: relative;
  bottom: 430px;
}
.owl-dot {
  height: 12px;
  width: 12px;
  margin: 0 8px;
  color: #3a3537;
}
.owl-dot span {
  height: 12px !important;
  width: 12px !important;
}
.owl-dot.active span,
.owl-dot span:hover {
  background-color: #ea1b3c !important;
}
.owl-nav {
  position: absolute;
  bottom: 72%;
  width: 100%;
}
.owl-prev,
.owl-next {
  height: 48px;
  width: 32px;
  cursor: pointer;
  background-color: #f2f2f2 !important;
  color: #ea1b3c !important;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  position: relative;
}
.owl-prev span,
.owl-next span {
  font-size: 30px !important;
}
.owl-prev {
  left: -50%;
}
.owl-next {
  right: -52%;
}
.owl-prev:hover,
.owl-prev:focus,
.owl-next:hover,
.owl-next:focus {
  background-color: #ea1b3c !important;
  color: white !important;
}

.home {
  margin: 100px auto 0;
  min-height: 89vh;
  position: relative;
}
.home__title {
  font-size: 24px;
  color: #3a3537;
}
.home__tab {
  position: relative;
}
.home__more {
  font-weight: 500;
  line-height: 20px;
  position: absolute;
  right: 0;
  font-size: 17px;
}
.home__more:hover {
  text-decoration: underline;
}
.home__job {
  padding: 25px 25px;
  padding-top: 0;
  overflow: hidden;
  position: relative;
  border-top: 5px solid #ea1b3c;
  width: 100%;
}
.home__job:hover {
  box-shadow: 0px 6px 8px rgb(0 0 0 / 20%);
  transition: box-shadow 1s;
}
.home__job:hover a {
  color: #ea1b3c;
}
.home__jobTop {
  position: absolute;
  right: 20px;
}
.home__star > i {
  color: #ea1b3c;
  position: absolute;
  right: -30px;
  top: -22px;
  font-size: 44px;
}
.home__star > span {
  color: white;
  position: absolute;
  right: -10px;
  top: 2px;
  font-size: 16px;
  font-weight: 600;
}
.home__jobTitle {
  cursor: pointer;
  margin-top: 30px;
}
.home__jobCard {
  padding-left: 0;
}
.home__jobContent {
  color: #3a3537;
  margin: 10px 0;
  line-height: 20px;
}
.home__jobWrapper {
  min-height: 240px;
}
.home__jobProfile > button {
  border-radius: 20px;
  margin: 5px 15px 5px 0;
  padding: 0 15px;
  height: 30px;
  background-color: #f2f2f2;
  border: none;
  color: black;
  font-size: 14px;
  display: inline;
}
.home__share {
  color: #ea1b3c;
  margin-top: 15px;
  font-size: 16px;
}
.home__share > i {
  padding-right: 10px;
}
.home__jobDetails {
  display: flex;
  flex-direction: column;
}
.home__jobDetails span {
  margin-right: 15px;
  font-size: 14px;
}
.home__jobVenue i {
  padding-right: 5px;
  color: #3a3537;
}
.home__tab {
  display: flex;
  align-items: center;
}
.home__footer {
  position: absolute;
  bottom: 0;
  margin-top: auto;
  width: 100%;
}
