input[type="file"] {
  display: none;
}

.form {
  display: flex;
  align-self: center;
  background-image: url("https://infobeans-design-system.web.app/images/login-bg.png");
  overflow-x: hidden;
  background-repeat: no-repeat;
  background-size: cover;

  min-height: 100vh;
  position: relative;
}
.form__container {
  background-color: white;
  height: fit-content;
  margin: 112px auto;
  padding: 48px;
  max-width: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.form__logo {
  text-align: center;
  width: 200px;
  margin: 0 auto 20px;
  object-fit: contain;
}
.form__contact {
  text-align: center;
  font-size: larger;
  color: #ea1b3c;
}
.form__field {
  margin: 15px 0;
  align-items: center;
}
.form__field > label {
  margin-right: 20px;
}
#form__msg {
  width: 100%;
}
.form__fileWrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.form__customFile {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 8px 12px;
  cursor: pointer;
  text-align: center;
}
.form__customFile:hover {
  border: 1px solid #ea1b3c;
}
.form__fileOkay,
.form__fileInvalid {
  font-size: small;
  margin-top: 10px;
  color: green;
  display: none;
  text-align: center;
}
.form__fileInvalid {
  color: #ea1b3c;
}
.form__error {
  font-size: small;
  text-align: center;
  position: relative;
  bottom: 15px;
  color: #ea1b3c;
}
.form__okay {
  display: none;
}
