.login {
  display: flex;
  align-self: center;
  background-image: url("https://infobeans-design-system.web.app/images/login-bg.png");
  overflow-x: hidden;
  background-repeat: no-repeat;
  background-size: cover;

  min-height: 100vh;
  position: relative;
}
.login__form {
  background-color: white;
  height: fit-content;
  margin: 112px auto;
  padding: 48px;
  max-width: 374px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.login__formLogo {
  text-align: center;
  width: 200px;
  margin: 20px auto;
  object-fit: contain;
}
.login__form > label {
  margin-top: 10px;
  font-size: 16px;
}
.login__form > input {
  margin: 5px 0;
}
.login__form > button {
  margin: 10px 0 15px;
}
.login__formLabel {
  display: flex;
  justify-content: space-between;
}
.error_email {
  color: #ea1b3c;
  font-size: small;
  text-align: center;
  display: none;
}
#login__password {
  padding: 10px;
  transition: 0.3s;
  outline: 2px solid black;
}
.login__footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-top: auto;
  background-color: transparent;
  color: #fff;
}
